
/*
----------------
     Index
----------------
01. General
02. Home
03. Products
04. About
05. Contact
06. Mediaquery
----------------
*/


/*
----------------
01. General
----------------
*/

/*
Colour palette
#FEF5ED
#D3E4CD
#ADC2A9
#99A799
https://colorhunt.co/palette/fef5edd3e4cdadc2a999a799
*/

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html{
	font-size: 62.5%;
	height: 100%;
}

main{
	overflow: auto;
	padding-top: 12rem;
}

h2 {
	margin: 2rem;
	font-size: 3rem;
}



h3 {
	font-size: 2rem;
}

body{
    font-family: 'Poppins', sans-serif;
}


/*
----------------
02. Home
----------------
*/

.nav-bar{
    display: flex;
    background-color: #99A799;
    width: 100%;
    height: 12rem;
    justify-content: space-between;
    align-items: center;
	position:fixed;
	z-index: 100;
}

.nav-logo{
    border-radius: 50%;
    padding: 0.5em;
}

.nav-menu{
    display: flex;
    align-items: center; 
}

.nav-menu-items{
    list-style-type: none;
    display: inline-block;
    margin: 1rem;
}
 
.nav-menu-link{
    text-decoration: none;
	font-size: 2rem;
    color: #FFFFFF;
	padding: 0.5rem 1rem;     
    border-radius: 2rem;
}

.nav-menu-link:hover{
    color:#99A799;
    background: #FFFFFF;
	padding: 0.5rem 1rem;     
    border-radius: 2rem;
    transition: .5s;
}

.nav-menu-link-active{
    color:#000000;
	background-color: #FFFFFF;
	font-size: 2rem;
	padding: 0.5rem 1rem;     
    border-radius: 2rem;
}

#nav-toggle {
	position: absolute;
	top: -100px;
}

.nav-icon-burger {
	display: none;
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
}
.nav-icon-burger .burger-line {
	width: 30px;
	height: 5px;
	background-color: #FFFFFF;
	margin: 5px;
	border-radius: 3px;
	transition: all .3s ease-in-out;
}

@keyframes slider_effect {
	0% { left: 0%; }
	20% { left: 0%; }
	25% { left: -100%; }
	45% { left: -100%; }
	50% { left: -200%; }
	70% { left: -200%; }
	75% { left: -300%; }
	95% { left: -300%; }
	100% { left: -400%; }
	}

.home-slider-main{
	position: relative;
}	
	
.home-slider-container {
	overflow: hidden;
}

.home-slider-auto { 
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	text-align: left;
	font-size: 0;
	animation: 30s slider_effect infinite; 
}


.home-image-slide { 
	width: 20%;
	height: 100%;
	float: left;
}


.home-categories-container{
	margin: 2.5rem;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
	gap: 2rem;
}

.home-category-card{
	display: grid;
	background-color: #FEF5ED;
	text-align: center;
	align-content: center;
	border-radius: 1rem;
	padding: 1rem;
	height: 20rem;
}

.home-category-card-img{
	width: 5rem;
}


footer{
	display: flex;
	color: #FFFFFF;
	background-color: #99A799;
	width: 100%;
	padding-bottom:0;
	justify-content: center;
	align-self: center;
	align-items: center;
	position: relative;
}

.footer-contact-list{
    display: flex;
}

.footer-contact-option{
    list-style-type: none;
    display: inline-block;
    margin: 1rem;
}
 
.footer-contact-link{
    text-decoration: none;
	font-size: 2rem;
    color: #FFFFFF;
    padding: 0.9rem;     
    border-radius: 100%;
}

.footer-contact-link:hover{
	text-shadow: 2px 2px 4px #343934;
	transition: .5s;
}



/*
----------------
03. Products
----------------
*/

.container{
display: grid;
grid-template-areas: "uno dos"
					 "tres cuatro"
					 "cinco seis"; 		
background-color: #ADC2A9;	

}


.s1{
	display: grid;
	width: 37rem;
	grid-area: uno;
	border-radius: 20px;
	overflow: hidden;
	box-shadow: 0 0.5rem 0.5rem grey;
	background-color: #FEF5ED;
	height: 49rem;
	
}
.s2{
	display: grid;
	width: 37rem;
	grid-area: dos;
	border-radius: 20px;
	overflow: hidden;
	box-shadow: 0 0.5rem 0.5rem grey;
	background-color: #FEF5ED;
	height: 49rem;
}
.s3{
	display: grid;
	width: 37rem;
	grid-area: tres;
	border-radius: 20px;
	overflow: hidden;
	box-shadow: 0 0.5rem 0.5rem grey;
	background-color: #FEF5ED;
	height: 49rem;
}
.s4{
	display: grid;
	width: 37rem;
	grid-area: cuatro;
	border-radius: 20px;
	overflow: hidden;
	box-shadow: 0 0.5rem 0.5rem grey;
	background-color: #FEF5ED;
	height: 49rem;
}
.s5{
	display: grid;
	width: 37rem;
	grid-area: cinco;
	border-radius: 20px;
	overflow: hidden;
	box-shadow: 0 0.5rem 0.5rem grey;
	background-color: #FEF5ED;
	height: 49rem;
}
.s6{
	display: grid;
	width: 37rem;
	grid-area: seis;
	border-radius: 20px;
	overflow: hidden;
	box-shadow: 0 0.5rem 0.5rem grey;
	background-color: #FEF5ED;
	height: 49rem;
}

.subtitulos{
	text-align: center;
	background-color: #FEF5ED;
	font-size: 2rem;
	margin-top: 0%;
	margin-bottom: 0%;
	font-weight: bold;
	

}
.parrafo{
	background-color: #FEF5ED;
	margin-left: 20px;
	margin-bottom: 10px;
	font-size: 110%;
}

.imagen{
	max-width: 37rem;
	
}
.img{ 
	max-width: 	30%;	
	max-height: 30%;
}
.contenedormates{
	width: 100%;
	position: relative;
}
.contenedorcuencos{
	width: 100%;
	position: relative;
}
.contenedortablas{
	width: 100%;
	position: relative;
}
.contenedorazucareras{
	width: 100%;
	position: relative;
}
.contenedorbombillas{
	width: 100%;
	position: relative;
}
.contenedorcombos{
	width: 100%;
	position: relative;
}
.botones{
	font-size: 18px;
	width: 70px;
	height: 70px;
	line-height: 70px;
	border-radius: 50%;
	background-color: rgba(0,0,0,.7);
	text-align: center;	
	font-weight: bold;
	position: absolute;
	color: #FFFFFF;
	box-shadow: 0 0 10px rgba(255,255,255,.6);
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.botones:hover{
	cursor: pointer;
	transform: scale(1.2,1.2);
}
.atras{
	left: 2%;
	top: calc(50% - 70px);
}
.adelante{
	right: 2%;
	top: calc(50% - 70px);
}


/* Breakpoint for smartphone*/

@media screen and (max-width: 768px) {
	.container{
		grid-template-areas:"uno uno"
					        "dos dos"
					 		"tres tres"
							"cuatro cuatro"
							"cinco cinco"
							"seis seis"; 	
}

/*
----------------
04. About
----------------
*/

.about-h4{	
	text-align: left;
}
.about-section{
	background-image: url("./backgrounds/wood.jpeg");
}

  
.about-container{
	display: grid;
	grid-template-columns:1fr 1fr;
	grid-template-rows: 50rem 50rem 50rem;
	grid-template-areas: 
	"about-intro-text about-intro-text"
	"about-story-image about-story-text"
	"about-value-text about-value-image";
}
.about-item-regular{
	background-color: #FFFFFF;
	border: 0.1rem #FFFFFF;
	display: grid;
	text-align: justify;
	align-content: center;
	
}

.about-item-regular-image{
	background-color: #ffffff77;
}

.about-item-special{
	grid-column-start: 1;
    grid-column-end: 3;
	display: grid;
	text-align: center;
	align-content: center;
	color:#FFFFFF;
}

#about-intro-text{
	grid-area: about-intro-text;
}

#about-story-image{
	grid-area: about-story-image;
}

#about-story-text{
	grid-area: about-story-text;
}

#about-value-image{
	grid-area: about-value-image;
}


/*
----------------
05. Contact
----------------
*/

.contact-main{

}

.contact-container{
		display: grid;
		grid-template-columns:1fr 1fr;
		grid-template-rows: 50rem 50rem;
		grid-template-areas: 
		"contact-item-channel contact-item-form"
		"contact-item-map contact-item-transport ";
}

.contact-channel{
	grid-area: contacto-item-channel;
}

.contact-form{
	grid-area: contact-item-form;
}

.contact-transport{
	grid-area: contact-item-transport;
}

.contact-map{
	grid-area: contact-item-map;
}

.contact-item-regular{
	border: 0.1rem;
	display: grid;
	text-align: center;
	align-content: top;
}

.contact-item-regular form{
	
}
/*
----------------
06. Media Query
----------------
*/

/* Breakpoint for desktop*/
@media screen and (min-width: 1025px) {
	#home-slider-mobile{
		display: none;
	}
}

/* Breakpoint for tablets & small screens */
@media screen and (max-width: 1024px) and (min-width: 769px) {
	nav-logo {
		float: none;
		width: auto;
		justify-content: center;
	}
	.nav-menu {
		float: none;
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top: 120px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: #99A799;
		overflow: hidden;
		box-sizing: border-box;
		transition: all .5s ease-in-out;
	}
	.nav-menu-link{
		font-size: 2.5rem;
		padding: 0.5rem 1rem;     
		border-radius: 2rem;
	}

	.nav-menu-link-active{
		font-size: 2.5rem;
	}

	.nav-bar :checked ~ .nav-menu {
		bottom: 0;
	}
	.nav-icon-burger {
		display: block;
	}
	.nav-bar :checked ~ .nav-icon-burger .burger-line:nth-child(1) {
		transform: translateY(10px) rotate(225deg);
	}
	.nav-bar :checked ~ .nav-icon-burger .burger-line:nth-child(2) {
		opacity: 0;
	}
	.nav-bar :checked ~ .nav-icon-burger .burger-line:nth-child(3) {
		transform: translateY(-10px) rotate(-225deg);
	}

	#home-slider-mobile{
		display: none;
	}

	.contact-container{
		display: grid;
		grid-template-columns:100%;
		grid-template-rows: 50rem 50rem 50rem 50rem;
		grid-template-areas: 
		"contact-item-channel" 
		"contact-item-form"
		"contact-item-map"
		"contact-item-transport";
	}

	
}

/* Breakpoint for smartphone*/
@media screen and (max-width: 768px) {
	nav-logo {
		float: none;
		width: auto;
		justify-content: center;
	}
	.nav-menu {
		float: none;
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top: 120px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: #99A799;
		overflow: hidden;
		box-sizing: border-box;
		transition: all .5s ease-in-out;
	}
	.nav-menu-link{
		font-size: 3rem;
		padding: 0.5rem 1rem;     
		border-radius: 2rem;
	}

	.nav-menu-link-active{
		font-size: 3rem;
		padding: 0.5rem;
		border-radius: 2rem;
	}

	.nav-bar :checked ~ .nav-menu {
		bottom: 0;
	}
	.nav-icon-burger {
		display: block;
	}
	.nav-bar :checked ~ .nav-icon-burger .burger-line:nth-child(1) {
		transform: translateY(10px) rotate(225deg);
	}
	.nav-bar :checked ~ .nav-icon-burger .burger-line:nth-child(2) {
		opacity: 0;
	}
	.nav-bar :checked ~ .nav-icon-burger .burger-line:nth-child(3) {
		transform: translateY(-10px) rotate(-225deg);
	}

	.home-slider-auto-desktop { 
		display: none;
	}
	
	.home-slider-auto-mobile {
		display: show; 
		position: relative;
		width: 500%;
		margin: 0;
		padding-top: 12rem;
		left: 0;
		text-align: left;
		font-size: 0;
		animation: 30s slider_effect infinite; 	
	}

	#home-slider-desktop{
		display: none;
	}

	.about-container{
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: 50rem 50rem 50rem 50rem 50rem;
		grid-template-areas: 
		 "about-intro-text"
		 "about-story-text"
		 "about-story-image"
		 "about-value-text"
		 "about-value-image";
		gap: 0.1rem;
	}

	.about-item-special{
		grid-column-start: 1;
		grid-column-end: 1;
	}

	.contact-container{
		display: grid;
		grid-template-columns:100%;
		grid-template-rows: 50rem 50rem 50rem 50rem;
		grid-template-areas: 
		"contact-item-channel" 
		"contact-item-form"
		"contact-item-map"
		"contact-item-transport";
	}
}